@import "https://use.fontawesome.com/releases/v5.11.0/css/all.css";

/*** HTML BODY ***/
*{
  font-family: 'Oswald', sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.content{
  background-image: url("../images/demo2.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*** LOGIN FORM ***/
::placeholder {
  color: white;
}

.login-box{
  width: 280px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 1000;
}
.login-box h1{
  float: left;
  font-size: 50px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 40px;
  padding: 13px 0;
}
.login-box h6{
  float: left;
  color: revert;
  font-size: 14px;
  border-bottom: 2px solid #4caf50;
  margin-bottom: 60px;
  padding: 10px 0;
}
.login-box a {
  color: white;
}
.login-box a:hover{
  color: #4caf50;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 26px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 24px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none !important;
  color: white;
  font-size: 25px;
  width: 80%;
  float: left;
  margin: -5px 10px;
}

.btn,
.btn:focus,
.btn:active,
.btn:visited{
  text-align: center;
  width: 95%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  margin: 12px 0;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn:hover {
  color: #4caf50;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.glass {
  height: 120%;
  width: 100%;
  background-image: url("../images/demo2.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: inset(10em);
  clip-path: inset(10em);
  filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-shadow {
  height: 100%;
  width: 70%;
  filter: drop-shadow(50% 50% 50% rgba(0, 0, 0, 0.3));
  justify-content: center;
  align-items: center;
}

.drop-shadow > span {
  position: absolute;
  z-index: 5;
  color: white;
  font-size: 4em;
  letter-spacing: 0.75em;
  text-align: center;

}
.drop-shadow > span a {

  color: white;

}

@media (max-width: 980px) {
  .glass {
    -webkit-clip-path: inset(1em);
    clip-path: inset(1em);
  }
  
  .drop-shadow:before {
    top: 5em;
    width: calc(100% - 10em);
  }
  .drop-shadow > span {
    font-size: 4em;
  }
}
@media (max-width: 640px) {
  .drop-shadow > span {
    font-size: 2em;
  }
}



#mainButton {
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 200;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  letter-spacing: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#mainButton .btn-text {
  z-index: 2;
  display: block;
  padding: 10px 20px;
  position: relative;
}
#mainButton .btn-text:hover {
  cursor: pointer;
}
#mainButton:after {
  top: -50%;
  z-index: 1;
  content: "";
  width: 150%;
  height: 200%;
  position: absolute;
  left: calc(-150% - 40px);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  transform: skewX(-40deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#mainButton:hover {
  cursor: default;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#mainButton:hover:after {
  -webkit-transform: translateX(100%) skewX(-30deg);
  -moz-transform: translateX(100%) skewX(-30deg);
  -ms-transform: translateX(100%) skewX(-30deg);
  -o-transform: translateX(100%) skewX(-30deg);
  transform: translateX(100%) skewX(-30deg);
}
#mainButton.active {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#mainButton.active .modal {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
#mainButton .modal {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: inherit;
  transform-origin: center center;
  -webkit-transform: scale(0.000001, 0.00001);
  -moz-transform: scale(0.000001, 0.00001);
  -ms-transform: scale(0.000001, 0.00001);
  -o-transform: scale(0.000001, 0.00001);
  transform: scale(0.000001, 0.00001);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.close-button {
  top: 20px;
  right: 20px;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.form-title {
  margin-bottom: 15px;
}


/* RESPONSIVE */

/*@media only screen and (min-width:1025px) {
  


  }*/

  @media only screen and (min-width:960px) and (max-width:1024px){

    .glass{
      -webkit-clip-path: inset(2em);
      clip-path: inset(2em);
      width: 70%;
      height: 50%;
      position: absolute;
      top: 35%;

    }
    .login-box{
      width: 500px;
    }

  }

/*@media only screen and (min-width:769px) and (max-width:959px) {
  


  }*/



  @media only screen and (max-width:768px) {

    .drop-shadow{
      width: 100%;
      height: 80%;
    }

    .glass{
      width: 100%;
      height: 100%;
      margin-top: 60px;
    }

  }

  @media only screen and (min-width:320px) and (max-width:767px) {

   .glass{
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }

  .login-box {
    width: 260px;
  }


}
@media only screen and (min-width:280px) and (max-width:319px) {



  .login-box {
    width: 200px;
  }
  .login-box h1 {
    font-size: 40px;
  }
  .textbox input{
    margin: 0;
  }


}